<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="jQuery News Ticker is a lightweight, stylish, easy to use and flexible jQuery news ticker" />
	<style>
	body {
	background-color: forestgreen;
	color:white;
	font-size: 2em;
	}
	html {
	}
	
	</style>
</head>
<body>

    <marquee behavior="scroll" width="100%" direction="left">
	<div>
	 <% FeedEntry.last(20).each do |entry| %>
	  <span>&nbsp<% entry.published_at.strftime("%H:%M")%>&nbsp&nbsp<%=raw "#{entry.name.html_safe} " %>&nbsp&nbsp&nbsp</span>
	  <% end %>	
	</div>        </marquee>
	
	<script type="text/javascript">
function pingandreload(){
var ImageObject = new Image();
ImageObject.src = "http://192.168.1.211:3030/images/weather/1.gif";

if(ImageObject.height>0){
  console.log('The domain is available.');
  location.reload(true);
  
} else {
  window.setInterval("pingandreload()", 600000);
}
  
};

 function getResponse()
            {
                var uname=document.testform.uname.value;

                $.ajax({
                type: 'POST',
                url: 'http://192.168.1.211:3030/banners/refresh',
                data: {},
                dataType: 'json',
                success: function(data) 
                { console.log('got here with data'); },
                error: function() { console.log('something bad happened'); }
                });

            }

window.onchange=pingandreload();
window.setInterval("pingandreload()", 300000); 
</script>
</body>
</html>