<span><img src="<%="#{@imgSrc}"%>" align="center" height="32"/></span>
<span style="font-size:2.0em; margin-top:0px;">
<%= @resp.temp %><sup>oc</sup></span>
<br>
<span style="font-size:0.7em">
  <strong>Mín: </strong><b><%= @resp.tempLow %><sup>oc</sup></b>
</span><span style="font-size:0.7em">
  <strong>Máx: </strong><b><%= @resp.tempHigh %><sup>oc</sup></b>
</span>

