<a href="http://www.accuweather.com/es/mx/mexico-city/242560/current-weather/242560" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awtd1427909412271" class="aw-widget-36hour"  data-locationkey="242560" data-unit="f" data-language="es" data-useip="false" data-uid="awtd1427909412271" data-editlocation="false"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>